<div class="container">
    <div class="card well">
      <img class="card-img-top"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRppH1viprFTe_K6o3eraC42Y_NTAtZJXKkQQ&usqp=CAU"
        alt="Card image cap" style="height: 8cm;width: 10cm;">
      <div class="card-body">
        <p class="card-text">Enter the order details!</p>
      </div>
      <div class="card-body dark">
        <div class="row">
          <div class="col-md-4 col-2"></div>
          <div class="col-md-8  col-6" style="width: 5cm;">
            <form [formGroup]="yarnDelivery">

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Yarn Name</mat-label>
                  <input matInput placeholder="Enter the details" formControlName="yarnname">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Yarn counts</mat-label>
                  <input matInput type="number" placeholder="Enter the details" formControlName="yarncount">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>No of bags</mat-label>
                  <input matInput type="number" placeholder="Enter the details" formControlName="no_of_bags">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>No.of half bags</mat-label>
                  <input matInput type="number" placeholder="Enter the details" formControlName="no_of_halfbags">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Kgs of half bag</mat-label>
                  <input matInput type="number" placeholder="Enter the details" formControlName="half_bags_in_kgs">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Kgs of full bag</mat-label>
                  <input matInput type="number" placeholder="Enter the details" formControlName="full_bags_in_kgs">
                </mat-form-field>
              </div>

              <div class="div">
                <mat-form-field appearance="outline">
                  <mat-label>Delivery date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="delivered_date"><mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Delivery vehicle No</mat-label>
                  <input matInput placeholder="Enter the details" formControlName="delivery_vehicle_no">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>mill</mat-label>
                  <input matInput placeholder="Enter the details" formControlName="mill">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>company name</mat-label>
                  <input matInput placeholder="Enter the details" formControlName="company">
                </mat-form-field>
              </div>

              <div class="div">
                <button mat-stroked-button color="accent" (click)="onSubmit()">upload</button>
              </div>
                            
            </form>
          </div>
          
        </div>

      </div>
    </div>
  </div>

