<mat-toolbar color="primary">  
    <button mat-icon-button (click)="tog=!tog" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title">SHIRI VASAVA NITTERS</h1>
</mat-toolbar>


<mat-sidenav-container class="example-container">

    <mat-sidenav [opened]="tog" mode="over">
        <div>
            <div class="card align-items-center">
                <h1 class="mt-3 btn btn-outline-warning">SVK</h1>
            </div>

            <!-- <div class="card shadow-lg mt-1 bg-primary"> -->

                <div class="card shadow  ">
                    <div class="mt-3 btn btn-outline-dark">
                        <ul><i class="fa-sharp fa-solid fa-gear "></i><a class=" fw-bold ms-2"
                                 href="dash">Dashboard</a></ul>
                    </div>

                </div>
               <!-- DC card -->
                <div class="card shadow">
                    <div class="mt-3 btn btn-outline-dark">
                        <ul><i class="fa-sharp fa-solid fa-gear "></i><a class=" fw-bold ms-2"
                                 href="DC">DC</a></ul>
                    </div>

                </div>

                <div class="card shadow">
                    <div class="mt-3 btn btn-outline-dark">
                        <ul><i class="fa-sharp fa-solid fa-gear "></i><a class=" fw-bold ms-2"
                                 href="entry">Entry</a></ul>
                    </div>

                </div>

                <div class="card shadow">
                    <div class="mt-3 btn btn-outline-dark">
                        <ul><i class="fa-sharp fa-solid fa-gear"></i><a class=" fw-bold ms-2"
                                 href="allot">jobs</a></ul>
                    </div>

                </div>



            </div>

        <!-- </div> -->
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>