<mat-toolbar color="primary">
    <button mat-icon-button (click)="tog=!tog" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>


<mat-sidenav-container class="example-container">

    <mat-sidenav [opened]="tog" mode="over">
        <div>
            <div class="card align-items-center mt-1 bg-primary">
                <h1 class="mt-3">SVK</h1>
            </div>

            <div class="card shadow-lg mt-1 bg-primary">

                <div class="card shadow text-dark mt-1 mx-1">
                    <div class="mt-3">
                        <ul><i class="fa-sharp fa-solid fa-gear fa-2x"></i><a class=" fw-bold ms-2"
                                style="font-size: 20px;" href="dash">Dashboard</a></ul>
                    </div>

                </div>
               <!-- DC card -->
                <div class="card shadow text-dark mt-1 mx-1">
                    <div class="mt-3">
                        <ul><i class="fa-sharp fa-solid fa-gear fa-2x"></i><a class=" fw-bold ms-2"
                                style="font-size: 20px;" href="DC">DC</a></ul>
                    </div>

                </div>

                <div class="card shadow text-dark mt-1 mx-1">
                    <div class="mt-3">
                        <ul><i class="fa-sharp fa-solid fa-gear fa-2x"></i><a class=" fw-bold ms-2"
                                style="font-size: 20px;" href="entry">Entry</a></ul>
                    </div>

                </div>

                <div class="card shadow text-dark my-1 mx-1">
                    <div class="mt-2">
                        <ul> <i class="fa-solid fa-compact-disc fa-spin" style="--fa-animation-duration: 30s; --fa-animation-iteration-count: 1;"></i><a class=" fw-bold ms-2"
                                style="font-size: 20px;" href="allot">jobs</a></ul>
                    </div>

                </div>



            </div>

        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>