<br>
<div class="container">

  <div class="row">

    <div class="col-md-4 col-xs-1"></div>
    <div class="col-md-4 col-xs-10">
      <div class="card shadow" style="width: fit-content;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrT1GNjVoDFGWeXh_ytb3GIDe3x74JZK9rFw&usqp=CAU"
          class="img-fluid" alt="">
        <div class="card-body">
          <div class="card-title">
            <div class="lead">Enter the order details!</div>
          </div>

          <form>

            <div class="ms-5 mt-3">
              <mat-form-field appearance="outline" class="bg-white">
                <mat-label>Yarn name</mat-label>
                <input matInput placeholder="Enter the details" formControlName="fab_name">
              </mat-form-field>
            </div>

            <div class="ms-5 mt-1">
              <mat-form-field appearance="outline" class="bg-white">
                <mat-label>Yarn Quantity</mat-label>
                <input matInput placeholder="Enter the details" formControlName="order_number">
              </mat-form-field>
            </div>

            <div class="ms-5 mt-1">
              <mat-form-field appearance="outline" class="bg-white">
                <mat-label>No of counts</mat-label>
                <input matInput placeholder="Enter the details" formControlName="number_of_rolls">
              </mat-form-field>
            </div>

            <div class="ms-5 mt-1">
            <mat-form-field appearance="fill">
              <mat-label>date of delivery</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date_of_delivery">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

            <div class="ms-5 mt-1">
              <mat-form-field appearance="outline" class="bg-white">
                <mat-label>Yarn colour</mat-label>
                <input matInput placeholder="Enter the details" formControlName="total_weight">
              </mat-form-field>
            </div>

            <div class="ms-5 mt-1">
              <mat-form-field appearance="outline" class="bg-white">
                <mat-label>Yarn weight</mat-label>
                <input matInput placeholder="Enter the details" formControlName="company_name">
              </mat-form-field>
            </div>

            <div class="ms-5 mt-1">
              <mat-form-field appearance="outline" class="bg-white">
                <mat-label>Machine Diameter</mat-label>
                <input matInput placeholder="Enter the details" formControlName="vehicle_number">
              </mat-form-field>
            </div>

            <div class="ms-5 mt-1">
              <mat-form-field appearance="outline" class="bg-white">
                <mat-label>Machine GG</mat-label>
                <input matInput placeholder="Enter the details" formControlName="to_dying_company_name">
              </mat-form-field>
            </div>

            <div class="ms-5 mt-1">
              <mat-form-field appearance="outline" class="bg-white">
                <mat-label>Select machine No</mat-label>
                <input matInput placeholder="Enter the details" formControlName="GG">
              </mat-form-field>
            </div>
            <div class="div">
              <button mat-stroked-button color="accent">upload</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>

</div>