<br>
<div class="container">

  <div class="row">

    <div class="col-md-4 col-xs-1"></div>
    <div class="col-md-4 col-xs-10">
      <div class="card shadow" style="width: fit-content;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrT1GNjVoDFGWeXh_ytb3GIDe3x74JZK9rFw&usqp=CAU"
          class="img-fluid" alt="">
        <div class="card-body">
          <div class="card-title">
            <div class="lead">Enter the order details!</div>
          </div>

          <form [formGroup]="profileForm">

            <div>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Yarn Name</mat-label>
                <input matInput placeholder="enter the details" formControlName="yarnname">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field appearance="outline">
                <mat-label>Yarn Quantity</mat-label>
                <input matInput placeholder="enter the details" formControlName="quantity">
              </mat-form-field>
            </div>

            <div class="div">
              <mat-form-field appearance="outline">
                <mat-label>No.of counts</mat-label>
                <input matInput placeholder="enter the details" formControlName="counts">
              </mat-form-field>
            </div>

            <div class="div">
              <mat-form-field appearance="outline">
                <mat-label>Yarn colour</mat-label>
                <input matInput placeholder="enter the details" formControlName="colour">
              </mat-form-field>

            </div>

            <div>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Yarn weight</mat-label>
                <input matInput placeholder="enter the details" formControlName="weight">
              </mat-form-field>
            </div>

            <div class="div">
              <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="received_date"><mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-hint>MM/DD/YYYY</mat-hint>
                
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="div">
              <mat-form-field appearance="outline" fx1flex="50">
                <mat-label>Machine Diameter</mat-label>
                <input matInput placeholder="enter the details" formControlName="dia">
              </mat-form-field>
            </div>

            <div class="div">
              <mat-form-field appearance="outline" fx1flex="50">
                <mat-label>machine GG</mat-label>
                <input matInput placeholder="enter the details" formControlName="gg">
              </mat-form-field>
            </div>

            <div class="div">
              <mat-form-field appearance="outline">
                <mat-label>Select machine No</mat-label>
                <mat-select formControlName="mac_no">
                  <mat-option *ngFor="let p of arr" [value]="p">{{p}}</mat-option>
                </mat-select>

              </mat-form-field>

            </div>

            <div class="div">
              <button mat-stroked-button color="accent" (click)="sub()">create order</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

</div>