<div class="conatiner">


    <!-- navbar -->
    <div class="align-items-center text-dark text-uppercase data-bs-toggle card bt-5 "
        style="background-color: rgb(35, 102, 218); padding: 1cm;">
        <header>Machine details</header>
    </div>


    <div id="wrapper" class="mt-3">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Machine
                                                    alloted</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>1</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-cog fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2 ">
                                <div class="card-body" data-bs-toggle="collapse" href="#collapseExample">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Machine
                                                    currentstate</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.currentstate}} </span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-info fw-bold text-xs mb-1">
                                                <span>Tasks</span>
                                            </div>
                                            <div class="row g-0 align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark fw-bold h5 mb-0 me-3">
                                                        <span></span></div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-info" aria-valuenow="75"
                                                            aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                                            <span class="visually-hidden">50%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2 ">
                                <div class="card-body" data-bs-toggle="collapse" href="#collapseYarndetails">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Yarn
                                                    details
                                                </span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.yarnname}}</span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- status collapse -->

                        <div class="card dark collapse md-5 mb-5 " id="collapseExample"
                            style="background-color: black;">
                            <div class="card shadow border-start-warning py-2 mb-3 mt-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs"><span> Machine stop
                                                    count
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.Count}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3 mt-1">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span> Machine
                                                    storage count
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.STC}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span> Machine
                                                    RPM
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.RPM}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>No.of
                                                    Rolls
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.role}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Storage
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.STORAGE}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>


                            <div class="card mb-2">
                                <div>
                                    <mat-form-field appearance="outline" class="example-full-width">
                                        <mat-label>Max count</mat-label>
                                        <input matInput placeholder="enter the details" [(ngModel)]="max_count">
                                      </mat-form-field>
                                    
                                </div>
                                
                                <div>
                                  <mat-form-field appearance="outline" class="example-full-width">
                                    <mat-label>Reset</mat-label>
                                    <input matInput placeholder="enter the details" [(ngModel)]="reset1">
                                  </mat-form-field>
                                </div>
        
                                <button  class="btn btn-primary" (click)="up()">upload</button>
        
                            </div>
                            
                        </div>
                        
                        
                        


                        <!-- status card collapse -->

                        <!-- yarn details -->
                        <div class="card black collapse md-5 mb-5 " id="collapseYarndetails"
                            style="background-color: black;">

                            <!-- <div class="card shadow border-start-warning py-2 mt-3 mb-3 ">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Yarn
                                                    Quantity
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.quantity}}</span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div> -->


                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span> Yarn
                                                    Count</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.counts}}</span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span> Machine
                                                    Diameter</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.dia}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span> Yarn
                                                    Colour
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.colour}}</span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>No. of
                                                    bags
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.quantity}}</span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Yarn
                                                    weight
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.weight}}</span>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Machine GG
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.gg}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Received
                                                    date
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0">
                                                <span>{{machines.received_date}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>



                            <!-- <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>No. of bags
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.quantity}}</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div> -->



                        </div>

                        <!-- yarn details -->
                        <br>

                        <div class="row">

                            <div class="col-xm-2"></div>
                            <div class="col-xm-4">
                                <button [routerLink]="['/report',mac_id]" class="btn btn-primary"><i
                                        class="fas fa-download fa-sm text-white-50"></i>Generate report</button>
                            </div>




                        </div>


                    </div>


                </div>
            </div>




        </div>




    </div>