<div class="conatiner">



    <div id="wrapper" class="mt-3">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-3">
                            <!-- status collapse -->

                        <div class="card shadow border-start-warning py-2 mb-3 mt-3">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-success fw-bold text-xs"><span> Machine stop
                                                count
                                            </span>
                                        </div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.Count}}</span></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="card shadow border-start-warning py-2 mb-3 mt-1">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-success fw-bold text-xs mb-1"><span> Machine
                                                storage count
                                            </span>
                                        </div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.STC}}</span></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="card shadow border-start-warning py-2 mb-3">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2">
                                        <div class="text-uppercase text-success fw-bold text-xs mb-1"><span> Machine
                                                RPM
                                            </span>
                                        </div>
                                        <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.RPM}}</span></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        </div>


                        <div class="col-3">
                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>No.of
                                                    Rolls
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.role}}</span></div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
    
                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Storage
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{rdb.STORAGE}}</span></div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
    
                                <div class="card shadow border-start-warning py-2 mb-3">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col me-2">
                                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span> Yarn
                                                        Count</span>
                                                </div>
                                                <div class="text-dark fw-bold h5 mb-0"><span>{{machines.counts}}</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
    
                        </div>
                        <div class="col-3">
                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span> Machine
                                                    Diameter</span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.dia}}</span></div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span> Yarn
                                                    Colour
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.colour}}</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>No. of
                                                    bags
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.quantity}}</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-3">
                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Yarn
                                                    weight
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.weight}}</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Machine GG
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>{{machines.gg}}</span></div>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow border-start-warning py-2 mb-3">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Received
                                                    date
                                                </span>
                                            </div>
                                            <div class="text-dark fw-bold h5 mb-0">
                                                <span>{{machines.received_date}}</span></div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                        

                        
                            
                           

                        </div>
                        
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <div>
                                    <button (click)="print()" class="btn btn-primary"><i
                                            class="fas fa-download fa-sm text-white-50"></i>Print Report</button>
                                </div>
                            </div>
                        </div>
                        
                        <br>

                     


        

                </div>
            </div>




        </div>




    </div>