<div class="container">
    <div class="row">
        <div class="card text-center mt-4 widthsmall">
            
            <div class="card-body">
              <h2 class="card-title">Yarn Inward</h2>
              <a href="yarnin" class="btn btn-primary">click</a>
            </div>
            
          </div>
    </div>

    <div class="row">
        <div class="card text-center mt-4 widthsmall">
            
            <div class="card-body">
              <h2 class="card-title">fabric Delivey</h2>
             
              <a href="fabdeli" class="btn btn-primary">click</a>
            </div>
            
          </div>
    </div>


    <div class="row">
        <div class="card text-center mt-4 widthsmall">
            
            <div class="card-body">
              <h2 class="card-title">Yarn delivery</h2>
             
              <a href="yarndeli" class="btn btn-primary">click</a>
            </div>
            
          </div>
    </div>
</div>
