<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="row">
                <div class="card text-center mt-4 widthsmall">
                    
                    <div class="card-body">
                      <h2 class="card-title">Yarn Inward</h2>
                      <a href="yarnIn" class="btn btn-outline-warning">click</a>
                    </div>
                    
                  </div>
            </div>
        
            <div class="row">
                <div class="card text-center mt-4 widthsmall">
                    
                    <div class="card-body">
                      <h2 class="card-title">Fabric Delivey</h2>
                     
                      <a href="fabdelivery" class="btn btn-outline-warning ">click</a>
                    </div>
                    
                  </div>
            </div>
        
        
            <div class="row">
                <div class="card text-center mt-4 widthsmall">
                    
                    <div class="card-body">
                      <h2 class="card-title">Yarn delivery</h2>
                     
                      <a href="yarnDelivery" class="btn btn-outline-warning">click</a>
                    </div>
                    
                  </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    
</div>



